.forecast{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .weather-forecast{
    border: 1px solid #26a69a;
    border-radius: 10px;
    min-width: 100px;
    margin-right: -1px;
  }

  .weather-forecast__degrees{
    vertical-align: super;
    padding-left: 4px;
  }

  .temperature_day{
    color: #de2f2f;
  }

  .temperature_night {
    color: #174cb3;
  }
}