.search {

  .input-field{
    display: flex;
    margin-bottom: 0;

    .search__clear{
      border: none;
      background: none;
      margin-left: -20px;
      cursor: pointer;
    }
  }

  .search__submit{
    vertical-align: super;
    padding-left: 4px;
  }

  .search-result-box {
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,0.14),
            0 3px 1px -2px rgba(0,0,0,0.12),
            0 1px 5px 0 rgba(0,0,0,0.2);

    .search-result{
      font-size: 16px;
      color: #26a69a;
      line-height: 22px;
      padding: 14px 16px;
      margin:0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      .search__degrees{
        vertical-align: super;
      }
    }
    .search-result:hover{
      background-color: #eee;
    }

  }

  .fetching_true{
    padding: 40px 0;
  }
}

