.weather {
  padding: 20px;
  // background-color: #6acbff;
  box-shadow: 2px 2px 10px #26a69a;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .weather__current-state.true{
    display: none;
  }

  .weather__temperature{
    margin-top: -8px;
  }

  .fetching_false {
    display: none;
  }

  .weather__degrees{
    vertical-align: super;
    padding-left: 4px;
  }
}

